<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>my api server</title>
</head>
<body>
    <h1>Welcome to my API Server</h1>
    <form method="post">
        <input type="number" name="TV", placeholder="enter TV spending"> <br>
        <input type="number" name="radio", placeholder="enter radio spending"> <br>
        <input type="number" name="newspaper", placeholder="enter newspaper spending"> <br>
        <input type="submit" value="predict">
    </form>

    {% if result%}
    <p>{{ result }}</p>
    {% else %}
    <p>this is GET method</p>
    {% endif %}
</body>
</html>